/Binaries
/.vs
/Content/__ExternalActors__
/Content/Scene_QuarrySlate
/Intermediate
/Saved
/Content/2LineWheel
/Content/__ExternalObjects__
/Content/Characters
/Content/A_Surface_Footstep
/Content/Materials/Terrain
/Content/HoudiniEngine
Content/NewWorld.umap
Content/RockMap.umap
Content/rotate.uasset
Content/terrain.umap
Content/terrain_HLOD0_Instancing.uasset
Content/Test.umap
Content/Test_HLOD0_Instancing.uasset
Content/Bicycle_With_Animations/Maps/Bicycle_Animations_Example_Map.umap
Content/Bicycle_With_Animations/Maps/Bicycle_Animations_Example_Map_BuiltData.uasset
